<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bakss.server.mapper.BakssApplyBackupMapper">
    
    <resultMap type="BakssApplyBackup" id="BakssApplyBackupResult">
        <result property="id"    column="id"    />
        <result property="appId"    column="app_id"    />
        <result property="backupContent"    column="backup_content"    />
        <result property="machineType"    column="machine_type"    />
        <result property="dataCenter"    column="data_center"    />
        <result property="env"    column="env"    />
        <result property="platform"    column="platform"    />
        <result property="appName"    column="app_name"    />
        <result property="backupIP"    column="backup_ip"    />
        <result property="backupPort"    column="backup_port"    />
        <result property="backupServer"    column="backup_server"    />
        <result property="backupSoftware"    column="backup_software"    />
        <result property="costType"    column="cost_type"    />
        <result property="costNumber"    column="cost_number"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBakssApplyBackupVo">
        select id, app_id, backup_content, machine_type, data_center, env, platform, backup_software, app_name, backup_ip, backup_port, backup_server, cost_type, cost_number, deleted, create_time, create_by, update_time from bakss_apply_backup
    </sql>

    <select id="selectBakssApplyBackupList" parameterType="BakssApplyBackup" resultMap="BakssApplyBackupResult">
        <include refid="selectBakssApplyBackupVo"/>
        <where>  
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="backupContent != null  and backupContent != ''"> and backup_content = #{backupContent}</if>
            <if test="machineType != null  and machineType != ''"> and machine_type = #{machineType}</if>
            <if test="dataCenter != null  and dataCenter != ''"> and data_center = #{dataCenter}</if>
            <if test="env != null  and env != ''"> and env = #{env}</if>
            <if test="platform != null  and platform != ''"> and platform = #{platform}</if>
            <if test="backupSoftware != null  and backupSoftware != ''"> and backup_software = #{backupSoftware}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectBakssApplyBackupById" parameterType="Long" resultMap="BakssApplyBackupResult">
        <include refid="selectBakssApplyBackupVo"/>
        where id = #{id}
    </select>

    <select id="selectBakssApplyBackupByAppId" parameterType="String" resultMap="BakssApplyBackupResult">
        <include refid="selectBakssApplyBackupVo"/>
        where app_id = #{appId} and deleted = 0
        limit 1
    </select>

    <insert id="insertBakssApplyBackup" parameterType="BakssApplyBackup" useGeneratedKeys="true" keyProperty="id">
        insert into bakss_apply_backup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appId != null">app_id,</if>
            <if test="backupContent != null">backup_content,</if>
            <if test="machineType != null">machine_type,</if>
            <if test="dataCenter != null">data_center,</if>
            <if test="env != null">env,</if>
            <if test="platform != null">platform,</if>
            <if test="backupSoftware != null">backup_software,</if>
            <if test="appName != null">app_name,</if>
            <if test="backupIP != null">backup_ip,</if>
            <if test="backupPort != null">backup_port,</if>
            <if test="backupServer != null">backup_server,</if>
            <if test="costType != null">cost_type,</if>
            <if test="costNumber != null">cost_number,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appId != null">#{appId},</if>
            <if test="backupContent != null">#{backupContent},</if>
            <if test="machineType != null">#{machineType},</if>
            <if test="dataCenter != null">#{dataCenter},</if>
            <if test="env != null">#{env},</if>
            <if test="platform != null">#{platform},</if>
            <if test="backupSoftware != null">#{backupSoftware},</if>
            <if test="appName != null">#{appName},</if>
            <if test="backupIP != null">#{backupIP},</if>
            <if test="backupPort != null">#{backupPort},</if>
            <if test="backupServer != null">#{backupServer},</if>
            <if test="costType != null">#{costType},</if>
            <if test="costNumber != null">#{costNumber},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBakssApplyBackup" parameterType="BakssApplyBackup">
        update bakss_apply_backup
        <trim prefix="SET" suffixOverrides=",">
            <if test="appId != null">app_id = #{appId},</if>
            <if test="backupContent != null">backup_content = #{backupContent},</if>
            <if test="machineType != null">machine_type = #{machineType},</if>
            <if test="dataCenter != null">data_center = #{dataCenter},</if>
            <if test="env != null">env = #{env},</if>
            <if test="platform != null">platform = #{platform},</if>
            <if test="backupSoftware != null">backup_software = #{backupSoftware},</if>
            <if test="appName != null">app_name = #{appName},</if>
            <if test="backupIP != null">backup_ip = #{backupIP},</if>
            <if test="backupPort != null">backup_port = #{backupPort},</if>
            <if test="backupServer != null">backup_server = #{backupServer},</if>
            <if test="costType != null">cost_type = #{costType},</if>
            <if test="costNumber != null">cost_number = #{costNumber},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBakssApplyBackupById" parameterType="Long">
        delete from bakss_apply_backup where id = #{id}
    </delete>

    <delete id="deleteBakssApplyBackupByIds" parameterType="String">
        delete from bakss_apply_backup where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>