<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bakss.server.mapper.BakssAppMapper">
    
    <resultMap type="BakssApp" id="BakssAppResult">
        <result property="id"    column="id"    />
        <result property="appType"    column="app_type"    />
        <result property="appUser"    column="app_user"    />
        <result property="appTime"    column="app_time"    />
        <result property="backupId"    column="backup_id"    />
        <result property="backupTime"    column="backup_time"    />
        <result property="backupStatus"    column="backup_status"    />
        <result property="flowId"    column="flow_id"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="BakssTask" id="BakssTaskResult">
        <result property="id"    column="id"    />
        <result property="appType"    column="app_type"    />
        <result property="appUser"    column="app_user"    />
        <result property="appTime"    column="app_time"    />
        <result property="backupId"    column="backup_id"    />
        <result property="backupTime"    column="backup_time"    />
        <result property="backupStatus"    column="backup_status"    />
        <result property="flowId"    column="flow_id"    />
        <result property="flowStep"    column="flow_step"    />
        <result property="reviewUser"    column="review_user"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBakssAppVo">
        select id, app_type, app_user, app_time, backup_id, backup_time, backup_status, flow_id, remark, status, deleted, create_time, create_by, update_time from bakss_app
    </sql>

    <sql id="selectBakssTaskVo">
        select id, app_type, app_user, app_time, backup_id, backup_time, backup_status, flow_id, flow_step, review_user, remark, status, deleted, create_time, create_by, update_time from bakss_app
    </sql>

    <select id="selectBakssAppList" parameterType="BakssApp" resultMap="BakssAppResult">
        <include refid="selectBakssAppVo"/>
        <where>
            deleted = 0
            <if test="appType != null "> and app_type = #{appType}</if>
            <if test="appUser != null  and appUser != ''"> and app_user = #{appUser}</if>
            <if test="appTime != null "> and app_time = #{appTime}</if>
            <if test="backupId != null "> and backup_id = #{backupId}</if>
            <if test="backupTime != null "> and backup_time = #{backupTime}</if>
            <if test="backupStatus != null "> and backup_status = #{backupStatus}</if>
            <if test="flowId != null "> and flow_id = #{flowId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBakssAppById" parameterType="String" resultMap="BakssAppResult">
        <include refid="selectBakssAppVo"/>
        where id = #{id}
    </select>

    <insert id="insertBakssApp" parameterType="BakssApp">
        insert into bakss_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="appType != null">app_type,</if>
            <if test="appUser != null">app_user,</if>
            <if test="appTime != null">app_time,</if>
            <if test="backupId != null">backup_id,</if>
            <if test="backupTime != null">backup_time,</if>
            <if test="backupStatus != null">backup_status,</if>
            <if test="flowId != null">flow_id,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="appType != null">#{appType},</if>
            <if test="appUser != null">#{appUser},</if>
            <if test="appTime != null">#{appTime},</if>
            <if test="backupId != null">#{backupId},</if>
            <if test="backupTime != null">#{backupTime},</if>
            <if test="backupStatus != null">#{backupStatus},</if>
            <if test="flowId != null">#{flowId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBakssApp" parameterType="BakssApp">
        update bakss_app
        <trim prefix="SET" suffixOverrides=",">
            <if test="appType != null">app_type = #{appType},</if>
            <if test="appUser != null">app_user = #{appUser},</if>
            <if test="appTime != null">app_time = #{appTime},</if>
            <if test="backupId != null">backup_id = #{backupId},</if>
            <if test="backupTime != null">backup_time = #{backupTime},</if>
            <if test="backupStatus != null">backup_status = #{backupStatus},</if>
            <if test="flowId != null">flow_id = #{flowId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBakssAppById" parameterType="String">
        delete from bakss_app where id = #{id}
    </delete>

    <delete id="deleteBakssAppByIds" parameterType="String">
        delete from bakss_app where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getDbaTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='dba'
    </select>

    <select id="getAdminTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='admin'
    </select>

    <select id="getDbaLeaderTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='dbaLeader'
    </select>

    <select id="getOwnerTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b, bakss_app_backup_owner c
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='owner' and a.id = c.app_id and c.old_owner = #{owner}
    </select>

    <select id="getLeaderTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='leader' and a.app_user in (
            <foreach collection="user" separator=",">
                #{user}
            </foreach>
            )
    </select>

    <select id="getAssignTodoTaskList" resultMap="BakssTaskResult">
        <include refid="selectBakssTaskVo"></include>
        from bakss_app a, bakss_app_flow b, bakss_app_backup_permis c
        where a.deleted = 0 and a.status = 1 and a.flow_id = b.flow_id and b.review_status = 0 and b.flow_step ='assign' and a.id = c.app_id and c.grant_user = #{user}
    </select>
</mapper>