<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bakss.server.mapper.BakssAppFlowMapper">
    
    <resultMap type="BakssAppFlow" id="BakssAppFlowResult">
        <result property="id"    column="id"    />
        <result property="flowStep"    column="flow_step"    />
        <result property="flowOrder"    column="flow_order"    />
        <result property="appId"    column="app_id"    />
        <result property="reviewUser"    column="review_user"    />
        <result property="reviewStatus"    column="review_status"    />
        <result property="reviewTime"    column="review_time"    />
        <result property="remark"    column="remark"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBakssAppFlowVo">
        select id, flow_step, flow_order, app_id, review_user, review_status, review_time, remark, deleted, create_time, create_by, update_time from bakss_app_flow
    </sql>

    <select id="selectBakssAppFlowList" parameterType="BakssAppFlow" resultMap="BakssAppFlowResult">
        <include refid="selectBakssAppFlowVo"/>
        <where>  
            <if test="flowStep != null "> and flow_step = #{flowStep}</if>
            <if test="flowOrder != null "> and flow_order = #{flowOrder}</if>
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="reviewUser != null  and reviewUser != ''"> and review_user = #{reviewUser}</if>
            <if test="reviewStatus != null "> and review_status = #{reviewStatus}</if>
            <if test="reviewTime != null "> and review_time = #{reviewTime}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectBakssAppFlowById" parameterType="Long" resultMap="BakssAppFlowResult">
        <include refid="selectBakssAppFlowVo"/>
        where id = #{id}
    </select>

    <select id="getBakssAppNextFlow" parameterType="BakssAppFlow" resultMap="BakssAppFlowResult">
        <include refid="selectBakssAppFlowVo"/>
        where app_id = #{appId} and app_order = #{appOrder} + 1
    </select>

    <insert id="insertBakssAppFlow" parameterType="BakssAppFlow" useGeneratedKeys="true" keyProperty="id">
        insert into bakss_app_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowStep != null">flow_step,</if>
            <if test="flowOrder != null">flow_order,</if>
            <if test="appId != null">app_id,</if>
            <if test="reviewUser != null">review_user,</if>
            <if test="reviewStatus != null">review_status,</if>
            <if test="reviewTime != null">review_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowStep != null">#{flowStep},</if>
            <if test="flowOrder != null">#{flowOrder},</if>
            <if test="appId != null">#{appId},</if>
            <if test="reviewUser != null">#{reviewUser},</if>
            <if test="reviewStatus != null">#{reviewStatus},</if>
            <if test="reviewTime != null">#{reviewTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBakssAppFlow" parameterType="BakssAppFlow">
        update bakss_app_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowStep != null">flow_step = #{flowStep},</if>
            <if test="flowOrder != null">flow_order = #{flowOrder},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="reviewUser != null">review_user = #{reviewUser},</if>
            <if test="reviewStatus != null">review_status = #{reviewStatus},</if>
            <if test="reviewTime != null">review_time = #{reviewTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBakssAppFlowById" parameterType="Long">
        delete from bakss_app_flow where id = #{id}
    </delete>

    <delete id="deleteBakssAppFlowByIds" parameterType="String">
        delete from bakss_app_flow where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>