<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bakss.server.mapper.BakssApplyStepMapper">
    
    <resultMap type="BakssApplyStep" id="BakssApplyStepResult">
        <result property="id"    column="id"    />
        <result property="applyType"    column="apply_type"    />
        <result property="applySteps"    column="apply_steps"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBakssApplyStepVo">
        select id, apply_type, apply_steps, deleted, create_time, update_time from bakss_apply_step
    </sql>

    <select id="selectBakssApplyStepList" parameterType="BakssApplyStep" resultMap="BakssApplyStepResult">
        <include refid="selectBakssApplyStepVo"/>
        <where>  
            <if test="applyType != null "> and apply_type = #{applyType}</if>
            <if test="applySteps != null  and applySteps != ''"> and apply_steps = #{applySteps}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectBakssApplyStepById" parameterType="Long" resultMap="BakssApplyStepResult">
        <include refid="selectBakssApplyStepVo"/>
        where id = #{id}
    </select>

    <select id="getBakssApplyStepByApplyType" parameterType="Long" resultMap="BakssApplyStepResult">
        <include refid="selectBakssApplyStepVo"/>
        where apply_type = #{ApplyType} and deleted = 0
        order by create_time desc
        limit 1
    </select>

    <insert id="insertBakssApplyStep" parameterType="BakssApplyStep" useGeneratedKeys="true" keyProperty="id">
        insert into bakss_apply_step
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyType != null">apply_type,</if>
            <if test="applySteps != null">apply_steps,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyType != null">#{applyType},</if>
            <if test="applySteps != null">#{applySteps},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBakssApplyStep" parameterType="BakssApplyStep">
        update bakss_apply_step
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyType != null">apply_type = #{applyType},</if>
            <if test="applySteps != null">apply_steps = #{applySteps},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBakssApplyStepById" parameterType="Long">
        delete from bakss_apply_step where id = #{id}
    </delete>

    <delete id="deleteBakssApplyStepByIds" parameterType="String">
        delete from bakss_apply_step where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>